.error{
  color: red;
}

/*table{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-left: 25%;
  margin-right: 25%;
}

div #image{
  padding: 1em;
  float: left;
  height: 600px;
  max-width: 11em;
  margin-left: 5em;
}

table{
  padding: 1em 2em 1em 2em;
  background-color: #F5F5F5;
  height: 600px;
  margin-left: 20em;
  overflow: auto;
  margin-right: 5em;
}
*/
