body
{
  background-color: #5e5e5e;
}

#main form
{
  display: block;
  background-color: white;
  width: 26em;
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow-x: none;
  padding: 2em;
  border: 3pt solid black;
  border-radius: 1em;
  position: fixed;
  z-index: 2;
  top: 6em;
  left: calc(50% - 244px);
}

#main h3
{
  margin-top: 0;
  font-size: 125%; /*1.5em;*/
  font-weight: bold;
}

#main p
{
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 85%; /*0.85em;*/
}

#main input[name=password],
#main input[name=password-check]
{
  font-size: 1.01em;
  width: 23.84em;
  padding: 15px;
  margin: 0.3em 0 0.3em 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#main input[name=password]:focus,
#main input[name=password-check]:focus
{
  background-color: #ddd;
}

#main input[type=submit]
{
  background-color: #5ca85f;
  color: white;
  padding: 14px 20px;
  margin: 8px 1px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  width: calc(100% - 2px);
  border-radius: 0.25em;
  border: solid 0.5pt black;
}

#main input[type=submit]:hover
{
  background-color: #4CAF50;
  opacity: 1;
}

footer
{
  position: absolute;
  bottom: 0;
}

@media only screen and (max-height: 850px)
{
  footer
  {
    display: none;
  }
}
